<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Homepage</title>
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<link rel="stylesheet" type="text/css"	href="../fontello/css/fontello.css" />
<link href="https://fonts.googleapis.com/css?family=Dosis:200,400"	rel="stylesheet" />
<link rel="icon" type="image/png" sizes="16x16"	href="../img/favicon-16x16.png" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
	function show_login_form() {
		document.getElementById('id01').style.display = 'block';
		document.getElementById('id02').style.display = 'none';
	}
</script>
<script>
	function show_register_form() {
		document.getElementById('id02').style.display = 'block';
		document.getElementById('id01').style.display = 'none';
	}
</script>
	<script>
    //<![CDATA[
		function sort_by_amount_of_votes()
		{
			
			var list = document.getElementsByClassName("main_list");
			var li = list[0].getElementsByTagName("LI");

			var tempAmount = [];
			var tempLi = [];
			for(var i = 0,j=li.length;i<j;i++){
				tempAmount.push(li[i].getElementsByClassName("home_star_rating")[0].getElementsByClassName("star_amount")[0].innerHTML.replace(" votes", ""));
				tempLi.push(li[i]);
			}

			tempAmount.sort(function (a, b) {  return a - b;  });
			tempAmount.reverse();
			
			for(var i = 0,j=li.length;i<j-1;i++){

				for(var k = i+1; k<j;k++){
					if(tempAmount[i]==tempLi[k].getElementsByClassName("home_star_rating")[0].getElementsByClassName("star_amount")[0].innerHTML.replace(" votes", "")){

						$('ol li').eq( k ).insertBefore("ol li:eq("+i+")");
						break;
					}
				}
				
				tempLi=[];
				for(var l = 0;l<j;l++){
					tempLi.push(li[l]);
				}
			}
		}
	//]]>
	</script>
	<script>
    //<![CDATA[
		function sort_by_rate()
		{
			var list = document.getElementsByClassName("main_list");
			var li = list[0].getElementsByTagName("LI");
			var tempRate = [];
			var tempLi = [];

			for(var i = 0,j=li.length;i<j;i++){
				tempRate.push(li[i].getElementsByClassName("home_star_rating")[0].getElementsByClassName("home_star_rating_top")[0].style.getPropertyValue("width").replace("%", ""));
				tempLi.push(li[i]);
			}
			
			tempRate.sort(function (a, b) {  return a - b;  });
			tempRate.reverse();

			for(var i = 0,j=li.length;i<j-1;i++){
				for(var k = i+1; k<j;k++){
					if(tempRate[i]==tempLi[k].getElementsByClassName("home_star_rating")[0].getElementsByClassName("home_star_rating_top")[0].style.getPropertyValue("width").replace("%", "")){
						$('ol li').eq( k ).insertBefore("ol li:eq("+i+")");
						break;
					}
				}
				
				tempLi=[];
				for(var l = 0;l<j;l++){
					tempLi.push(li[l]);
				}
			}
			
			
		}
	//]]>
	</script>
	<script>
    //<![CDATA[
		function sort_by_name()
		{
			var list = document.getElementsByClassName("main_list");
			var li = list[0].getElementsByTagName("LI");
			var tempName = [];
			var tempLi = [];

			for(var i = 0,j=li.length;i<j;i++){
				tempName.push(li[i].getElementsByClassName("restaurant_info")[0].getElementsByClassName("name")[0].innerHTML.toLowerCase());
				tempLi.push(li[i]);
			}
			
			tempName.sort();

			for(var i = 0,j=li.length;i<j;i++){
				for(var k = i; k<j;k++){
					if(tempName[i]==tempLi[k].getElementsByClassName("restaurant_info")[0].getElementsByClassName("name")[0].innerHTML.toLowerCase()){
						$('ol li').eq( k ).insertBefore("ol li:eq("+i+")");
						break;
					}
				}
				
				tempLi=[];
				for(var l = 0;l<j;l++){
					tempLi.push(li[l]);
				}
			}
		}
	//]]>
	</script>
	<script>
	$('input[name=radios]').mouseup(function(){
	   $('input[name=radios]:checked').removeAttr('checked');
	})
	</script>
	<script>
    //<![CDATA[

	$(document).ready(function() {
	var NavY = $('#sort_container').offset().top;
	var stickyNav = function(){
	var ScrollY = $(window).scrollTop();
	console.log(NavY); 
	if (ScrollY > NavY-20) { 
		$('#sort_container').addClass('sticky');
	} else {
		$('#sort_container').removeClass('sticky'); 
	}
	};
	 
	stickyNav();
	 
	$(window).scroll(function() {
		stickyNav();
	});
	});
	

	//]]>
	</script>
</head>
<body>

	<header>
		<div id="header_container">
			<div id="header_container_left">
				<a th:href="@{'/'}"> 
					<img id="logo" src="../img/logo.png" />
					<h1>PizzaOrder</h1>
				</a>
			</div>

			<div id="unloggedUser" th:if="${actualUser} == null">
				<div class="icon-login" onclick="show_login_form()">Login</div>
				<div class="icon-user" onclick="show_register_form()">Register</div>
				<div class="clear"></div>
			</div>
			<div id="loggedUser" th:if="${actualUser} != null">
				<a th:if="${actualUser.getAuthorities().toString().equals('[ROLE_USER]')}" th:href="@{'/user'}">
					<div class="amount_of_unpayed_indents" th:if="${unpayedIndents}>0" th:text="${unpayedIndents}"></div>
					<div class="icon-user">Profile</div>
				</a> 
				<a th:if="${actualUser.getAuthorities().toString().equals('[ROLE_RESTAURANT_OWNER]')}" th:href="@{'/restaurantOwner'}">
					<div class="icon-user">Profile</div>
				</a> 
				<div class="clear"></div>
				<a th:href="@{'/logout'}">
					<div class="amount_of_unpayed_indents" th:if="${unpayedIndents}>0" th:text="${unpayedIndents}" style="opacity:0;"></div>			
					<div class="icon-logout">Logout</div>
				</a>
				<div class="clear"></div>
			</div>
		</div>
	</header>
	
	<div id="search_background">
		<div id="search_container">
			<h1>Order food online</h1>
			<h2>Enter your city to get started</h2>
			<form action="#" th:action="@{/city}"  method="get" id="search_form">
				<input type="text" placeholder="City" name="cityName" />
				<input type="submit" value="Search" class="small_blue_button"/>
			</form>
		</div>
	</div>
	<div id="container">
	<div id="sort_container">
		<h2>Sort by:</h2>
		  <input type="radio" name="sort" onchange="sort_by_name()">Name</input><br />
		  <input type="radio" name="sort" onchange="sort_by_rate()">Rating</input><br />
		  <input type="radio" name="sort" onchange="sort_by_amount_of_votes()">Popularity</input><br />
		  <input type="hidden" id="radio-previous" name="radio-previous" />
	</div>
	

		<ol class="main_list">
			<li th:each="restaurant : ${restaurants}">
				<img id="restaurant_logo" th:src="'/restaurant/'+${restaurant.id}+'/image.png'" alt="restaurant_image"/>
				<div class="restaurant_info">
					<div class="name" th:text="${restaurant.name}"></div>
					<div class="icon-location"></div>
					<div class="city" th:text="${restaurant.city}+', ul. '+${restaurant.address}">RestaurantAddress</div>
					<div class="icon-mobile"></div>
					<div class="phone" th:text="${restaurant.phone}">RestaurantPhone></div>
				</div>
				<div class = "home_star_rating">
					<div class="home_star_rating_top" th:style="'width:'+${restaurant.stars.mean}/5*100+'%'">
					<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
					<div class="home_star_rating_bottom">		
					<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
					</div>
					<div class="clear"></div>
					<div class="star_amount" th:text="${restaurant.stars.amount}+' votes'"></div>
				</div>
				<div class="menu_href">
					<a th:href="@{'/restaurant/' + ${restaurant.id}}">Check menu</a>
				</div>
				<div class="clear"></div>
			</li>
		</ol>
	<div class="clear"></div>

		<!-- The Modal -->
		<div id="id01" class="modal">
			<div class="modal-content animate">
				<div onclick="document.getElementById('id01').style.display='none'"
					class="close" title="Close Modal">&times;
				</div>
				<!-- Modal Content -->
				<div id="buttons_container">
					<div id="blue_button">Log in</div>
					<div id="white_button" onclick="show_register_form()">Register</div>
				</div>
				<div id="login_content">		
					<div id="user_login">
						<form id="login_form" th:action="@{/login}" method="post">
										<input type="text" id="username" name="username"
											autofocus="autofocus" placeholder="Login" /> <br /> <input
											type="password" id="password" name="password"
											placeholder="Password" /> <br /> <input type="submit"
											value="Log in" />
						</form>
					</div>
					<p>
						Don't have an account yet? <b onclick="show_register_form()">Register now!</b>
					</p>
				</div>
			</div>
		</div>
		
			<!-- The Modal -->
		<div id="id02" class="modal">
			<div class="modal-content animate">

				<div onclick="document.getElementById('id02').style.display='none'"
					class="close" title="Close Modal">&times;
				</div>
				<!-- Modal Content -->
				<div id="buttons_container">
					<div id="white_button" onclick="show_login_form()">Log in</div>
					<div id="blue_button">Register</div>
				</div>
				<div id="login_content">
					<div id="user_register">
						<form action="#" th:action="@{/registration}" enctype="multipart/form-data" method="post">
				            <input type="text" placeholder="Username" id="username" name="username" />
							<input type="password" placeholder="Password" id="password" name="password"/>
				            <input type="password" placeholder="Confirm password" id="passwordConfirm" name="passwordConfirm"/>
				            <input type="email" placeholder="Email" id="mail" name="mail"/>
				            <input id="phone" type="number" placeholder='Phone' name="phone" />
				            <select id="role" name="role">
				          			<option value="" selected="selected" >Select role:</option>
				                	<option value="ROLE_USER" >User</option>
				              		<option value="ROLE_RESTAURANT_OWNER">Restaurant owner</option>
				            </select>

				            <input type="submit" value="Register"/>
				        </form>
			        </div>
    			</div>
			</div>
		</div>
		
	</div>
		
	<div class="socials">
		<div class="socialdivs">
			<div class="fb">
				<i class="icon-facebook"></i>
			</div>
			<div class="yt">
				<i class="icon-youtube"></i>
			</div>
			<div class="tw">
				<i class="icon-twitter"></i>
			</div>
			<div class="gplus">
				<i class="icon-gplus"></i>
			</div>
			<div style="clear:both"></div>
		</div>
	</div>



	<script>
		// Get the modal
		var modal = document.getElementById('id01');

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>


</body>
</html>