<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="../fontello/css/fontello.css" />
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,400" rel="stylesheet"/>
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png"/>
</head>
<body>

<header>
	<a th:href="@{'/'}">
		<div id="header_container">
 			<div id="header_container_left">
				<a th:href="@{'/'}"> 
					<img id="logo" src="../img/logo.png" />
					<h1>PizzaOrder</h1>
				</a>
			</div>
			<a th:href="@{'/registration'}">
			<div class="icon-user">Register</div>
			</a>
			<div class="clear"></div>
		</div>
	</a>
</header>

 <div id="container"> 

		<div id="login_content">
		 
			<form id="login_form" th:action="@{/login}" method="post">
				<input type="text" id="username" name="username" autofocus="autofocus" placeholder="Login"/> <br /> 
				<input type="password" id="password" name="password" placeholder="Password"/> <br /> 
				<input type="submit" value="Log in" />
			</form>
			<p>Don't have an account yet? <a href="/registration"><b>Register now!</b></a></p>
		</div>	
</div>
<div class="socials">
	<div class="socialdivs">
		<div class="fb">
			<i class="icon-facebook"></i>
		</div>
		<div class="yt">
			<i class="icon-youtube"></i>
		</div>
		<div class="tw">
			<i class="icon-twitter"></i>
		</div>
		<div class="gplus">
			<i class="icon-gplus"></i>
		</div>
		<div style="clear:both"></div>
	</div>
</div>
</body>
</html>