<!DOCTYPE html>
 <html lang="pl"    xmlns:th="http://www.thymeleaf.org"> 
<head> 
    <title>Registration</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="../fontello/css/fontello.css" />
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,400" rel="stylesheet"/>
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png"/>

<script>
    function klikaj(i) {
        document.getElementById(i).style.display = 'block';
    }
</script>
	
</head>
<body>

<header>
		<div id="header_container">
			 <a th:href="@{'/'}"> 
	 			<img id="logo" src="../img/logo.png"/>
				<h1>PizzaOrder</h1>
			</a>
			
			<div id="unloggedUser" th:if="${actualUser} == null">
				<div class="icon-login" onclick="klikaj('id01')">Login</div>
				<a th:href="@{'/registration'}">
					<div class="icon-user">Register</div>
				</a>
				<div class="clear"></div>
			</div>
			<div id="loggedUser" th:if="${actualUser} != null">
				<a th:href="@{'/user'}">
					<div class="icon-user">Profile</div>
				</a>				
				<a th:href="@{'/logout'}">
					<div class="icon-logout">Logout</div>
				</a>
				<div class="clear"></div>
			</div>
		</div>
	<!-- </a> -->
</header>
 
 <div id="container">
 <form action="#" th:action="@{/registration}" th:object="${nonActivatedUser}" method="post">
            <table>
                <tr>
                    <td><span class="asterisk"> &#42;</span> <input type="text" placeholder="Username" th:field="*{username}" /></td>
                    <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
                </tr>
                <tr>
                    <td><span class="asterisk"> &#42;</span> <input type="password" placeholder="Password" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td> 
                </tr>
                <tr>
                    <td><span class="asterisk"> &#42;</span> <input type="password" placeholder="Confirm password" th:field="*{passwordConfirm}" /></td>
                    <td th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">PasswordConfirm Error</td>
                </tr>
                <tr>
                    <td><span class="asterisk"> &#42;</span> <input type="email" placeholder="Email" th:field="*{mail}" /></td>
                    <td th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Email Error</td>
                </tr>
                <tr>
                    <td><span class="asterisk"> &#42;</span> <input id="phone" type="number" placeholder='Phone' th:field="*{phone}" /></td>
                    <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</td>
                </tr>
          		<tr>
          			<td><span class="asterisk"> &#42;</span>
          			        <select id="role" name="role">
          			            <option value="" selected="selected" >Select role:</option>
                				<option value="ROLE_USER" >User</option>
              					<option value="ROLE_RESTAURANT_OWNER">Restaurant owner</option>
            				</select>
            		</td>
            		<td th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role Error</td>
          		</tr>         	   
                <tr>                	
                    <td><span class="asterisk" style="opacity:0;"> &#42;</span>
                    <input type="submit" value="Submit"/></td>
                </tr>
            </table>
        </form>
</div>    
<div class="socials">
	<div class="socialdivs">
		<div class="fb">
			<i class="icon-facebook"></i>
		</div>
		<div class="yt">
			<i class="icon-youtube"></i>
		</div>
		<div class="tw">
			<i class="icon-twitter"></i>
		</div>
		<div class="gplus">
			<i class="icon-gplus"></i>
		</div>
		<div style="clear:both"></div>
	</div>
</div>    

	<!-- The Modal -->
	<div id="id01" class="modal">
		<div class="modal-content animate">

			<div onclick="document.getElementById('id01').style.display='none'" 
				class="close" title="Close Modal">&times;</div>
				
			  <!-- Modal Content -->
			<div id="login_content">

				 
				<form id="login_form" th:action="@{/login}" method="post">
					<input type="text" id="username" name="username" autofocus="autofocus" placeholder="Login"/> <br /> 
					<input type="password" id="password" name="password" placeholder="Password"/> <br /> 
					<input type="submit" value="Log in" />
				</form>
				<p>Don't have an account yet? <a href="/registration"><b>Register now!</b></a></p>
			</div>	
		</div>
	</div>

<script type="text/javascript"> 
  document.getElementById("phone").setAttribute('value','');
</script>
	<script>
		// Get the modal
		var modal = document.getElementById('id01');

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		    if (event.target == modal) {
		        modal.style.display = "none";
		    }
		}	
	</script>
</body>
</html>