<!DOCTYPE html>
 <html lang="pl"    xmlns:th="http://www.thymeleaf.org"> 
<head> 
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,400" rel="stylesheet"/>

</head>
<body>

<header>
	<a th:href="@{'/'}">
		<div id="header_container">
 			<img id="logo" src="../img/pizza.png"/>
			<h1>PizzaOrder</h1>
			<div class="clear"></div>
		</div>
	</a>
</header>
 
 <div id="container">
 <form action="#" th:action="@{/registration}" th:object="${nonActivatedUser}" method="post">
            <table>
                <tr>
                    <td><span class="asterisk"> &#42;</span> <input type="text" placeholder="Username" th:field="*{username}" /></td>
                    <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
                </tr>
                <tr>
                    <td><span class="asterisk"> &#42;</span> <input type="password" placeholder="Password" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td> 
                </tr>
                <tr>
                    <td><span class="asterisk"> &#42;</span> <input type="password" placeholder="Confirm password" th:field="*{passwordConfirm}" /></td>
                    <td th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">PasswordConfirm Error</td>
                </tr>
                <tr>
                    <td><span class="asterisk"> &#42;</span> <input type="email" placeholder="Email" th:field="*{mail}" /></td>
                    <td th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Email Error</td>
                </tr>
                <tr>
                    <td><span class="asterisk"> &#42;</span> <input id="phone" type="number" placeholder='Phone' th:field="*{phone}" /></td>
                    <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</td>
                </tr>
          		<tr>
          			<td><span class="asterisk"> &#42;</span>
          			        <select id="role" name="role">
          			            <option value="" selected="selected" >Select role:</option>
                				<option value="ROLE_USER" >User</option>
              					<option value="ROLE_RESTAURANT_OWNER">Restaurant owner</option>
            				</select>
            		</td>
            		<td th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role Error</td>
          		</tr>         	   
                <tr>
                    <td><input type="submit" value="Submit"/></td>
                </tr>
            </table>
        </form>
</div>        

<script type="text/javascript"> 
  document.getElementById("phone").setAttribute('value','');
</script>
</body>
</html>