<!DOCTYPE html>
 <html lang="pl"    xmlns:th="http://www.thymeleaf.org"> 
<head> 
    <title>Registration</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="../fontello/css/fontello.css" />
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,400" rel="stylesheet"/>
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png"/>

</head>
<body>

<header>
		<div id="header_container">
			 <a th:href="@{'/'}"> 
	 			<img id="logo" src="../img/logo.png"/>
				<h1>PizzaOrder</h1>
			</a>
			
			<div id="unloggedUser" th:if="${actualUser} == null">
				<div class="icon-login" onclick="klikaj('id01')">Login</div>
				<a th:href="@{'/registration'}">
					<div class="icon-user">Register</div>
				</a>
				<div class="clear"></div>
			</div>
			<div id="loggedUser" th:if="${actualUser} != null">
				<a th:href="@{'/user'}">
					<div class="icon-user">Profile</div>
				</a>				
				<a th:href="@{'/logout'}">
					<div class="icon-logout">Logout</div>
				</a>
				<div class="clear"></div>
			</div>
		</div>
	<!-- </a> -->
</header>
 
 <div id="container">
 <form action="#" th:action="@{/registration}" th:object="${nonActivatedUser}" enctype="multipart/form-data" method="post"  onsubmit="return validateForm();">
            <table>
                <tr>
                    <td><span class="asterisk"> &#42;</span> <input type="text" id="register_username" placeholder="Username" th:field="*{username}" /></td>
                    <td id="user_null_name_error">Please enter username</td>
                    <td id="user_length_name_error">Username must have between 6 and 20 digits</td>
                </tr>
                <tr>
                    <td><span class="asterisk"> &#42;</span> <input type="password" id="register_password" placeholder="Password" th:field="*{password}" /></td>
                    <td id="user_null_password_error">Please enter password</td>
                    <td id="user_length_password_error">Password must have between 6 and 20 digits</td>
                </tr>
                <tr>
                    <td><span class="asterisk"> &#42;</span> <input type="password" id="register_password_confirm" placeholder="Confirm password" th:field="*{passwordConfirm}" /></td>
                    <td id="user_wrong_confirm_password_error">Password aren't the same</td>
                </tr>
                <tr>
                    <td><span class="asterisk"> &#42;</span> <input type="email" id="register_email" placeholder="Email" th:field="*{mail}" /></td>
                    <td id="user_null_email_error">Please enter email</td>
                </tr>
                <tr>
                    <td><span class="asterisk"> &#42;</span> <input type="number" id="register_phone" placeholder='Phone' th:field="*{phone}" /></td>
                    <td id="user_null_phone_error">Please enter phone number</td>
                    <td id="user_length_phone_error">Restaurant phone must have between 7 and 9 digits</td>
                </tr>
          		<tr>
          			<td><span class="asterisk"> &#42;</span>
          			        <select id="role" name="role">
          			            <option value="" selected="selected" disabled="disabled">Select role:</option>
                				<option value="ROLE_USER" >User</option>
              					<option value="ROLE_RESTAURANT_OWNER">Restaurant owner</option>
            				</select>
            		</td>
            		<td id="user_null_role_error">Please choose role</td>
          		</tr>    	   
                <tr>                	
                    <td><span class="asterisk" style="opacity:0;"> &#42;</span>
                    <input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
</div>    
<div class="socials">
	<div class="socialdivs">
		<div class="fb">
			<i class="icon-facebook"></i>
		</div>
		<div class="yt">
			<i class="icon-youtube"></i>
		</div>
		<div class="tw">
			<i class="icon-twitter"></i>
		</div>
		<div class="gplus">
			<i class="icon-gplus"></i>
		</div>
		<div style="clear:both"></div>
	</div>
</div>    


</body>
<script type="text/javascript">

    //<![CDATA[
		function validateForm()
		{
			var error=false;
			document.getElementById('user_null_name_error').style.display="none";
			document.getElementById('user_length_name_error').style.display="none";
			document.getElementById('user_null_password_error').style.display="none";
			document.getElementById('user_length_password_error').style.display="none";
			document.getElementById('user_wrong_confirm_password_error').style.display="none";	       	
			document.getElementById('user_null_email_error').style.display="none";
			document.getElementById('user_null_phone_error').style.display="none";
		    document.getElementById("user_length_phone_error").style.display='none';
		    document.getElementById("user_null_role_error").style.display='none';

		    var name = document.getElementById('register_username');		    
		    if(name.value.length == 0){		  
		    	document.getElementById('user_null_name_error').style.display="block";
		    	error=true;
		    }
		    else if(name.value.length < 6 || name.value.length > 20){		  
		    	document.getElementById('user_length_name_error').style.display="block";		
		    	error=true;
		    }		    

		    var password = document.getElementById('register_password');
		    var confirm_password = document.getElementById('register_password_confirm');		    

		    if(password.value.length == 0){		  
		    	document.getElementById('user_null_password_error').style.display="block";		  
		    	error=true;
		    }		    
		    else if(password.value.length < 6 || password.value.length > 20){		   
		    	document.getElementById('user_length_password_error').style.display="block";		
		    	error=true;
		    }		    
		    else if(confirm_password != password){
		    	document.getElementById('user_wrong_confirm_password_error').style.display="block";		
		    	error=true;
			}
		    
		    var email = document.getElementById('register_email');		    
		    if(email.value.length == 0){		  
		    	document.getElementById('user_null_email_error').style.display="block";		  
		    	error=true;
		    }
		    
		    var phone = document.getElementById('register_phone');		  		    
		    if(phone.value ==''){		  
		    	document.getElementById('user_null_phone_error').style.display="block";		  
		    	error=true;
		    }		    
		    else if(phone.value < 1000000 || phone.value > 999999999){		   
		    	document.getElementById('user_length_phone_error').style.display="block";		
		    	error=true;
		    }
		    
		    var select = document.getElementById('role');
		    if (!select.value) {
		    	document.getElementById('user_null_role_error').style.display="block";		
		    	error=true;
		    }
		    
		   
		    
		    if(error)		    
				return false;
		    else
		    	return true;
		}
	//]]>
</script>	
</html>