<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Restaurant</title>
</head>
<body>
	<a th:href="@{'/'}">home</a>

<!-- Part for logged users -->
	<div th:if="${actualUser} != null">	
		<div th:if="${actualUser.getAuthorities().toString().equals('[ROLE_USER]')}">
				<a th:href="@{'/user'}">userPage</a>
		</div>
		
		<div th:if="${actualUser.getAuthorities().toString().equals('[ROLE_RESTAURANT_OWNER]')}">
				<a th:href="@{'/restaurantOwner'}">restaurantOwnerPage</a>
		</div>		
		
		<form th:action="@{/logout}" method="POST">
			<input type="submit" value="Logout" />
		</form>
	</div>
	
<!-- Part for unlogged users -->
	<div th:if="${actualUser} == null">
				<a th:href="@{'/login'}">Login</a>
				<a th:href="@{'/registration'}">Register</a>				
	</div>

<!-- Data about chosen restaurant -->
	<span th:text="${restaurant.id}"></span>
	<span th:text="${restaurant.name}"></span>
	<span th:text="${restaurant.city}"></span> ul.
	<span th:text="${restaurant.address}"></span> tel.:
	<span th:text="${restaurant.phone}"></span>

<!-- List of all menu with ingredients -->
	<table>
		<tr th:each="menu : ${menu}">
			<td th:text="${menu.id}">1</td>
			<td th:text="${menu.price}"></td>
			<td th:each="ingredients : ${menu.getIngredients()}">
				<p th:text="${ingredients.name}">ingredientName</p>
			</td>
			<td>
				<div th:if="${actualUser} != null">
					<div th:if = "${actualUser.getAuthorities().toString().equals('[ROLE_USER]')}">
						<form th:action="@{'/addindents/'+${restaurant.id}+'/'+${menu.id}}" method="GET">
							<input type="submit" value="Add to cart" />
						</form>
					</div>
				</div>
			</td>
		</tr>
	</table>

</body>
</html>