<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />

<title>Restaurant Owner</title>
</head>
<body>

	<a th:href="@{'/'}">home</a>

	<p th:text="${actualUser.getUsername()}"></p>
	<form th:action="@{/logout}" method="POST">
		<input type="submit" value="Logout" />
	</form>

<!-- Show restaurant data -->
	<span th:text="${restaurant.name}"></span>
	<span th:text="${restaurant.city}"></span> ul.
	<span th:text="${restaurant.address}"></span> tel.:
	<span th:text="${restaurant.phone}"></span>

<!-- Show list of payed indents -->
	<table>
		<tr th:each="indent : ${indents}">
			<td th:text="${indent.getUser().getUsername()}"></td>
			<td th:text="${indent.getMenu().getName()}"></td>
			<td th:each="ingredient : ${indent.getMenu().getIngredients()}">
				<p th:text="${ingredient.getName()}">1</p>
			</td>
			<td th:text="${indent.getFormattedDate()}"></td>
		</tr>
	</table>

<!-- Show list of menu belong to restaurant -->
	<table>
		<tr th:each="menu : ${menu}">
			<td th:text="${menu.name}"></td>
			<td th:each="ingredient : ${menu.getIngredients()}">
				<p th:text="${ingredient.name}">1</p>
			</td>
			<td th:text="${menu.price}">zł.</td>
		</tr>
	</table>
	<a th:href="@{'/restaurantOwner/' + ${restaurant.id}} + '/addmenu'">Add	menu</a>
</body>
</html>