<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<div th:if="${actualUser} != null">
		<p th:text="${actualUser.getUsername()}"></p>				<!--  SPRAWDZ WEB CONTTENT OBJECT Z PORADNIKA DO THYMELEAFA -->
		<form th:action="@{/logout}" method="POST">
			<input type="submit" value="Logout" />
		</form>
	</div>

	<span th:text="${restaurant.id}"></span>
	<span th:text="${restaurant.name}"></span>
	<span th:text="${restaurant.city}"></span> ul.
	<span th:text="${restaurant.address}"></span> tel.:
	<span th:text="${restaurant.phone}"></span>

	<!-- 
	<table>

		<tr th:each="menu : ${menu}">
			<td th:text="${menu.id}">1</td>
			<td th:text="${menu.price}">1</td>

			 
			<td th:each="ingredients : ${ingredients.get(id}">
			<p th:text="${ingredients.name}">1</p>
			pop
			</td>
		</tr>

	</table>
	
	 -->
	<table>
		
		<tr th:each="menu : ${menu}">
			<td th:text="${menu.id}">1</td>
			<td th:text="${menu.price}"></td>
			<!-- <td th:text="${ingredients.get(new Long(1))}"></td> -->
			<td th:each="ingredients : ${menu.getIngredients()}">
				<p th:text="${ingredients.name}">ingredientName</p>
			</td>
			<td>
			<div th:if = "${actualUser.getAuthorities().toString().equals('[USER]')}">
				<form th:action="@{'/addindents/'+${restaurant.id}+'/'+${menu.id}}" method="GET">
					<input type="submit" value="Add to cart" />
				</form>
				</div>
			</td>
		</tr>
	</table>

	
	
<!--
		<table>
	
			<tr th:each="ingredients : ${ingredients}">
				<td th:text="${ingredients.value.name}">Some name</td>

			</tr>
			</table>
	  -->


	<!-- 
	<table>
		<span th:each="menu : ${menu}">
			<tr>
				<td th:each="ingredients : ${ingredients}">
					<p th:text="${ingredients.name}"></p>
				</td>
			</tr>
		</span>
	</table>
-->
</body>
</html>